<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Mike Gatiss as part of a node course and uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="/img/mikeGatiss_1094.jpg" />
    </div>
    {{>footer}}
</body>

</html>